cmd/server/server
cmd/client/client
cmd/client/results/results.json
cmd/client/*.pdf
cmd/client/*.svg
*.json
*.o
*.a
bench-pir/bench-pir
bench-anon/bench-anon
bench-anon/bench-anon
bench-fss/bench-fss
bench-fss/bench-auth
.DS_Store
vdpf/src/test
/vendor